{% extends 'base.html' %}

{% block header %}{% endblock header %}

{% block css %}
	<style>
		/** Overriding CSS on login page **/

		#content {
			margin: 50px auto !important;
			width: 960px;
		}
	</style>
{% endblock css %}

{% block content %}

	<div id="login">
		<img src="{{ STATIC_URL }}img/hackerspacesg-long.png" title="HackerspaceSG" alt="HackerspaceSG">

		<form method="post" action="/login/">
			{% csrf_token %}
			{% if form.errors %}
			<p class="errornote">Your username and/or password did not match.</p>
			{% endif %}
			<input type="text" placeholder="username" id="id_username" name="username">
			<input type="password" placeholder="password" id="id_password" name="password">
			<input type="hidden" name="next" value="{{ next }}">
			<input type="submit" value="login">
		</form>
	</div>

{% endblock content %}