{% extends 'base.html' %}
{% load humanize %}

{% block content %}

	<article id="user_profile">
		<header id="user_name">{{ u.get_full_name }}</header>
		
		<section id="account_summary">
			<header>Account summary</header>
			<ul id="account_details">
				<li><span class="detail_header">Member since</span> <span class="detail_value">{{ member_since|date:"M Y" }}</span></li>
				<li><span class="detail_header">Membership status</span> <span class="detail_value {% if account_balance >= 0.0 %}positive{% else %}negative{% endif %}">{{ current_status }}</span></li>
				<li><span class="detail_header">Paid to date</span> <span class="detail_value currency">{{ paid_to_date|intcomma }}</span></li>
				<li><span class="detail_header">Overall balance</span> <span class="detail_value balance currency {% if account_balance >= 0.0 %}positive{% else %}negative{% endif %}">{{ account_balance|intcomma }}</span></li>
			</ul>		
		</section>
		
		<hr>

		<section id="payment_submission">				
			<header>Submit a new Payment</header>
			<form method="post" action="{% url user_profile u.username %}">
				{% csrf_token %}
				{{ pform.media }}
				<ul>
					{{ pform.as_ul }}
				</ul>
				<input type='submit' value="Notify admins of new payment">
			</form>
		</section>

		<hr>

		<section id="contract_summaries">
			<header>Contracts</header>
			{% regroup contracts by ctype as contract_list %}
			<ul id="user_contracts">
				{% for contract in contract_list %}
				<li class="contract_type">
					{{ contract.grouper }}
					<ul>
						{% for c in contract.list %}
						<li class="contract">
							{{ c }} &mdash; <span title="Contract balance" class="balance currency {% if c.balance >= 0.0 %}positive{% else %}negative{% endif %}">{{ c.balance }}</span>
						</li>
						{% endfor %}
					</ul>
				</li>
				{% endfor %}
			</ul>
		</section>
		
		<hr>
		
		<section id="payment_history">
			<header>Payment history</header>
			<table id="payment_history_table">
				<thead>
					<tr>
						<th>Date</th>
						<th>Amount (SGD)</th>
						<th>Contract</th>
						<th>Method</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					{% for p in payment_history %}
					<tr class="payment {% if p.verified %}verified{% endif %}">
						<td>{{ p.date_paid }}</td>
						<td>{{ p.amount }}</td>
						<td>{{ p.contract }}</td>
						<td>{{ p.get_method_display }}</td>
						<td>{{ p.desc }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="legend">
				<span class="legend_block"></span> <span class="legend_text">verified payments</span>
			</div>		
		</section>

	</article>

{% endblock content %}