django>=1.5,<1.6
# For database
dj-database-url>=0.2.1,<0.3
South>=0.8.1,<0.9
# Need to apt-get install libmysqlclient-dev, a dependency of MySQL-python
MySQL-python>=1.2.4,<1.3
# For date
python-dateutil>=2.0,<3.0
# For output pdf
xhtml2pdf>=0.0.5,<0.1
# For debug
ipdb>=0.7,<1.0
django-extensions>=1.1.1,<1.2
# For test
factory-boy>=2.1.1,<2.2
django_coverage>=1.2.2,<1.3
lettuce>=0.2.18,<0.3
splinter>=0.5.4,<0.6
zope.testbrowser>=4.0.2,<4.1
lxml>=3.2.1
cssselect>=0.8
# For code style
flake8>=2.0,<3.0
autopep8>=0.9.1,<1.0
# For documentation
docutils>=0.10,<1.0
Pygments>=1.6,<2.0
# For django ImageField
# TODO: Try to avoid PIL
PIL>=1.1.7,<1.2
