html,
body {
    height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}

#header {
    min-height: 50px;
}

#content {
    margin-top: 10px;
}

/* hotfix for datetimepick ui on customized theme */
.bootstrap-datetimepicker-widget {
    background-color: #ffffff;
}
.legend_block {
    background-color: #cdede7;
    border: 1px solid #ccc;
    height: 10px;
    width: 10px;
}

.legend_text {
    font-style: italic;
}

.legend_block, .legend_text {
    display: inline-block;
    vertical-align: top;
}
