{% extends "admin/base_site.html" %}

{% load i18n %}


{% block extrastyle %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
	<link href="{{ MEDIA_URL }}css/admin.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block coltype %}colMS{% endblock %}
{% block content %}	
	<div id="content-main">
		
		<h1>Admin</h1>
		<ul class="choices">
			<li><a href="{% url admin:hado_user_changelist %}">Members</a></li>
			<li><a href="{% url admin:hado_payment_add %}">Payment</a></li>
		</ul>
		
		<h1>Reports</h1>
		
		<ul class="choices">
			<li><a href="">Monthly Revenue</a></li>
			<li><a href="">Monthly Expenditure</a></li>
			<li><a href="">Lapsed Members</a></li>
			<li><a href="">Current Members</a></li>
		</ul>
			
		<!--
		<h1>Contracts</h1>
		
		<ul class="contracts choices">
			<li><a href="/admin/hado/contract/add/">{{ _("New Membership") }}</a></li> | 
			<li><a href="">{{ _("New Locker Use") }}</a></li> | 
			<li><a href="">{{ _("New Address Use") }}</a></li>
		</ul>
		
		<h1>Contract Form</h1>
		{{ cform }}
		
		<h1>Payments</h1>
		
		<ul class="payments choices">
			<li><a href="">{{ _("New Membership Renewal") }}</a></li> | 
			<li><a href="">{{ _("New Public Donation") }}</a></li> | 
			<li><a href="">{{ _("New Individual Donation") }}</a></li> | 
			<li><a href="">{{ _("New Corporate Sponsorship") }}</a></li> | 
		</ul>
	</div>
	-->
	
	<div id="event-log">
		<h2>{% trans 'Recent Actions' %}</h2>
			{% load log %}
			{% get_admin_log 10 as admin_log %}
			{% if not admin_log %}
			<p>{% trans 'None available' %}</p>
			{% else %}
			<ul class="actionlist">
			{% for entry in admin_log %}
			<li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
				<a href="{{ entry.user.get_admin_url}}">{{ entry.user.get_full_name }}</a>: {{ entry.change_message }} <span class="mini quiet">{{ entry.action_time}}</span>
				
				<br/>
				{% trans 'Item' %}:
				{% if entry.is_deletion %}
					{{ entry.object_repr }}
				{% else %}
					<a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
				{% endif %}			  
				{% if entry.content_type %}
					<span class="mini quiet">({% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %})</span>
				{% else %}
					<span class="mini quiet">{% trans 'Unknown content' %}</span>
				{% endif %}
			</li>
			{% endfor %}
			</ul>
			{% endif %}

	</div>
	
{% endblock %}


{% block sidebar %}<!--
<div id="content-related">
	<div class="module" id="recent-actions-module">
		<h2>{% trans 'Recent Actions' %}</h2>
		<h3>{% trans 'My Actions' %}</h3>
			{% load log %}
			{% get_admin_log 10 as admin_log %}
			{% if not admin_log %}
			<p>{% trans 'None available' %}</p>
			{% else %}
			<ul class="actionlist">
			{% for entry in admin_log %}
			<li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
				{% if entry.is_deletion %}
					{{ entry.object_repr }}
				{% else %}
					<a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
				{% endif %}
				<br/>
				{% if entry.content_type %}
					<span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
				{% else %}
					<span class="mini quiet">{% trans 'Unknown content' %}</span>
				{% endif %}
			</li>
			{% endfor %}
			</ul>
			{% endif %}
	</div>
</div>-->
{% endblock %}
