{% extends "admin/base_site.html" %}

{% load i18n staticfiles %}

{% block extrastyle %}
{{ block.super }}
<link href="{% static "css/admin.min.css" %}" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'HackDo' %}</h1>
{% endblock %}

{% block content %}
<div id="changelist">
    <div id="admin">
        <section id="stats">
            <header><h1>Stats</h1></header>
            <ul>
                <li>
                    <header><h2>Members</h2></header>
                    <ul>
                        {% for status,count in members.items %}
                        {% if status != 'total' %}
                        <li>{{ status|capfirst }} : {{ count }}</li>
                        {% endif %}
                        {% endfor %}
                        <li>Total : {{ members.total }}</li>
                    </ul>
                </li>
                <li>
                    <header><h2>Income this month</h2></header>
                    <ul>
                        {% for t,a in income.items %}
                        {% if t != 'summary' %}
                        <li>{{ t }} : {{ a }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <header><h2>Income summary</h2></header>
                    <ul>
                        <li>Supposed : {{ income.summary.supposed }}</li>
                        <li>Actual : {{ income.summary.actual }}</li>
                        <li>Shortfall : {{ income.summary.shortfall }}</li>
                    </ul>
                </li>
            </ul>
        </section>

        <hr>

        <section id="records">
            <header><h1>Admin</h1></header>
            <ul class="choices">
                <li><a href="{% url "admin:hado_hackdouser_changelist" %}">Members</a></li>
                <li><a href="{% url "admin:hado_membershipreview_changelist" %}">Membership Review</a></li>
                <li><a href="{% url "admin:hado_contract_changelist" %}">Contracts</a></li>
                <li><a href="{% url "admin:hado_payment_changelist" %}">Payment</a></li>
            </ul>
        </section>
        <hr>
        <section id="payment_verification">
            <header><h1>Payments to be verified</h1></header>
            <form method="post" action="{% url "payment_verify" %}" class="clearfix">
                {% csrf_token %}
                <table>
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Date paid</th>
                            <th>Amount</th>
                            <th>Contract</th>
                            <th>Method</th>
                            <th>Description</th>
                            <th>Verified</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ pformset.management_form }}
                        {% for p in pformset.forms %}
                        <tr>
                            {{ p.id }}
                            <td>{{ p.user }}</td>
                            <td>{{ p.date_paid }}</td>
                            <td>{{ p.amount }}</td>
                            <td>{{ p.contract }}</td>
                            <td>{{ p.method }}</td>
                            <td>{{ p.desc }}</td>
                            <td>{{ p.verified }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <input type="submit" value="Update">
            </form>
        </section>
    </div>

    {% comment %}
    <section id="user_active">
        <header><h1>Make User Active</h1></header>
        <form method="post" action="{% url "user_active" %}" class="clearfix">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Refer One Status</th>
                        <th>Refer Two Status</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    {{ uformset.management_form }}
                    {% for u in uformset.forms %}
                    <tr>
                        {{ u.id }}
                        <td>{{ u.username }}</td>
                        <td>{{ u.refer_one }}</td>
                        <td>{{ u.refer_two }}</td>
                        <td>{{ u.is_active }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="submit" value="Make Active">
        </form>
    </section>
    {% endcomment %}
</div>
    {% comment %}
    <section id="reports">
        <header><h1>Reports</h1></header>

        <ul class="choices">
            <li><a href="">Monthly Revenue</a></li>
            <li><a href="">Monthly Expenditure</a></li>
            <li><a href="">Lapsed Members</a></li>
            <li><a href="">Current Members</a></li>
        </ul>
    </section>
    <hr>
    <div id="changelist-filter">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
        {% load log %}
        {% get_admin_log 10 as admin_log %}
        {% if not admin_log %}
        <p>{% trans 'None available' %}</p>
        {% else %}
        <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion %}
                {{ entry.object_repr }}
                {% else %}
                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endcomment %}
</div>
{% endblock %}
