{% load i18n %}
{% load adminmedia %}

<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %} - HackDo</title>
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

	<!-- For the admin widgets -->
	<script type="text/javascript" src="/amedia/jsi18n/"></script>
	<script type="text/javascript" src="/static/admin/js/core.js"></script>
	<script type="text/javascript">
		window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
	</script>
	
	{% block js %}{% endblock %}
  
	
	<link href="{{ STATIC_URL }}css/style.css" media="screen" rel="stylesheet" type="text/css" />
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ MEDIA_URL }}ie.css">
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
	<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>

	{% block css %}{% endblock %}	
</head>
<body>
	<div id="header">
		{% block header %}
			<div id="branding">
				<h1 id="site-name"><a href="/">HackDo</a></h1>
			</div>
			<div id="user-tools">

				{% if user.is_authenticated %}				
				Welcome, {{ user }}!
				
				<a href="{% url django.contrib.auth.views.logout %}">Logout</a> 
				{% else %}
				<a href="{% url django.contrib.auth.views.login %}">Login</a>
				{% endif %}
				{% comment %}
				<ul>
					{% if user.is_authenticated %}
						<li>Welcome, {{ user }}!</li> |
						<li><a href="{% url django.contrib.auth.views.logout %}">Logout</a></li>
					{% else %}
						<li><a href="{% url django.contrib.auth.views.login %}">Login</a></li>
					{% endif %}
				</ul>
				{% endcomment %}
			</div>
			
		{% endblock %}
	</div>

	<div id="content">
		{% block content-header %}
			{% if error %}<div class="error">{{ error }}</div>{% endif %}
			{% if info %}<div class="info">{{ info }}</div>{% endif %}
			{% if success %}<div class="success">{{ success }}</div>{% endif %}
			{% if messages %}
				{% for message in messages %}
					<div class="info">{{ message }}</div>
				{% endfor %}
			{% endif %}
		{% endblock %}
		{% block content %}{% endblock %}
	</div>
	
	<footer id="footer">
		{% block footer %}
			Made for <a href="http://hackerspace.sg">HackerspaceSG</a> CC-BY-SA 2010
		{% endblock %}
	</footer>
</body>
</html>