{% extends 'base.html' %}
{% load i18n staticfiles %}
{% block header %}{% endblock header %}
{% block content %}
<div class="row">
    <div class="span12 pagination-centered">
        <img src="{% static "img/hackerspacesg-long.png" %}" title="HackerspaceSG" alt="HackerspaceSG">
    </div>
</div>
<hr/>
<div class="row">
    <div class="span8 offset2 well">
        <legend>{% trans "Welcome to HackDo - Sign In" %}</legend>
        {% include "tools/form_error.html" %}
        <form method="post" action="{% url 'login' %}" class="form-search">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <input type="text" placeholder="username" id="id_username" name="username">
            <input type="password" placeholder="password" id="id_password" name="password" class="span3">
            <input class="btn btn-primary" type="submit" value="login">
            <div class="form-actions">
                <p>
                <a href="{% url 'password_reset' %}">{% trans "Forgot your password ?" %}</a>
                |
                <a href="./register.html">{% trans "No account yet ?" %}</a>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
