{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Password reset link sent" %}{% endblock %}
{% block content %}
{% include "tools/top_icon.html" %}
<div class="row">
    <div class="span8 offset2 well">
        <legend>{% trans "Password reset link sent" %}</legend>
        <p>{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
        <p><a href="{% url 'login' %}">{% trans 'Back To Log in' %}</a></p>
    </div>
</div>
{% endblock %}
