{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block header %}
{% include "tools/top_icon.html" %}
{% endblock header %}
{% block content %}
<div class="row">
    <div class="span8 offset2 well">
        {% if validlink %}
        <legend>{% trans "Enter new password" %}</legend>
        <h5>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</h5>
        {% include "tools/form_error.html" %}
        <form action="." method="post" class="form-horizontal well">
            {% csrf_token %}
            <div class="control-group {% if form.new_password1.errors %}error{% endif %}">
                <label for="id_new_password1" class="control-label">{% trans 'New password:' %}</label>
                <div class="controls">
                    {{ form.new_password1 }}
                </div>
            </div>
            <div class="control-group {% if form.new_password2.errors %}error{% endif %}">
                <label for="id_new_password2" class="control-label">{% trans 'Confirm password:' %}</label>
                <div class="controls">
                    {{ form.new_password2 }}
                </div>
            </div>
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="{% trans 'Change my password' %}" />
            </div>
        </form>
        {% else %}
        <legend>{% trans 'Password reset unsuccessful' %}</legend>
        <h5>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</h5>
        {% endif %}
    </div>
</div>
{% endblock content %}
